<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hall Ticket</title>
</head>
<body>
    <h1>Hall Ticket</h1>
    <h2>Registered Courses</h2>
    <ul>
        <% students.forEach(registration => { %>
            <li>
                Course: <%= students.course %> - 
                Carry Forward: <%= students.carry_forward %>
            </li>
        <% }) %>
    </ul>
</body>
</html>
